{% extends 'base.html' %}
{% block title %}Post{% endblock %}
{% block menu %}
{% if user.is_authenticated %}
    {% if request.user == post.author %}
        <a href="{% url 'post_update' post.pk %}">Редактировать пост</a>
        <form method="POST" action="{% url 'post_delete' post.pk %}">
            {% csrf_token %}
            <input type="submit" class="btn" value="Удалить пост">
        </form>
    {% endif %}
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Post</h1>
    <p>{{ post.description }}</p>
    {% if post.image %}
    <p><img src="{{ post.image.url }}" alt="post image" style="width:200px; height:200px"></p>
    {% endif %}
    <form method="post" action="{% url 'add_like' post.pk %}">
        {% csrf_token %}
        <input type="submit" value="Like">
    </form>
    <span>{{ post.likes.all.count }}</span>
    <span>{{ post.comments.all.count  }}</span>


    {% load django_bootstrap5 %}
    <form method="post" action="{% url 'comments_add' post.pk %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-primary" type="submit" value="Отправить">
    </form>


    <div>
        {% for comment in post.comments.all %}
        <div class="view-comment">
            <h4>{{ comment.author }}</h4>
            <p>
                {{ comment.text }}
            </p>
            <p>
                {% if request.user == comment.author %}
                    <form method="POST" action="{% url 'comments_delete' comment.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger" value="Удалить">
                    </form>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}